

@media(max-width: 500px){
	.cabecera{
		/*background-color: yellow;
		width: 100%;*/
		
		width: 100%;
		height: 300px;
		display: inline-tab;
	}
	#menu ul li{
	display: inline;
	position: relative;
	width: 150px; /*tamaño de cada menu*/
	height: 20px;
	text-align: center;
	vertical-align: middle;
	
}
}

body{
	margin: 0px;
	background-color: black;
	width: 100%;
	height: 400px;
}

.cabecera{
	
	left: 0px;
	right: 0px;
	top: 0px;

}

#menu{
	width: 100%;
	color: white;
	background-color: white;
	padding: 10px;/*para adentro*/
	margin: 0px; /*para afuera*/
	text-align: left;
	border: 20px white;
}


/* para que lo menu esten en linea y centrado */
#menu ul li{
	display: inline-table;
	position: relative;
	width: 150px; /*tamaño de cada menu*/
	height: 20px;
	text-align: center;
	vertical-align: middle;
	
}



#menu ul li a{
	display: table-cell; 
	color: white; 
	height: 40px;
	padding: 10px;
	margin: 10px; 
	text-decoration: none; 
	vertical-align: middle; 
	font-family: sans-serif;
	
}




#menu > .nav1{
	margin: 1px;
    padding: 1px;    
    border-radius: 2pt;
    background: black;   
    width: 100%;/*flex: 80%; */       
    left: 0px;
    display: inline-block;
   	position: relative;
}


