/**diseñar la vista
	hacer el scrrol
	crud de localstorage
	*/
body{
	background-color: #ffffff;
	display: inline-block;
}

#d{
	background-color: #999999;
	width: 460px;
	height: 630px;
	
	margin: 0px 480px;
}
.d1{
	background-color: #efefef;
	width: 450px;
	height: 620px;
	padding: 10px;
	margin: 0px 30px;
}

#buton{
	width: 80px;
	height: 35px;
	background-color: green;
	color: white;
	border-radius: 7px;
}

#txt{
	width: 250px;
	height: 35px;
}
#as{
	color: red;
}

#txt_c{
	width: 400px;
	height: 150px;

}

/*swgunda pregunta */
